<h1>Bienvenue, <%= current_user.email %> !</h1>

<h2>Votre progression :</h2>
<ul>
  <% @stats.each do |stat| %>
    <li><strong><%= stat.category.name %></strong> : Niveau <%= stat.level %> | XP : <%= stat.xp %></li>
  <% end %>
</ul>


<h2>Quêtes en cours</h2>
<ul class="list-group">
  <% current_user.user_quests.includes(:quest).each do |user_quest| %>
    <li class="list-group-item">
      <strong><%= user_quest.quest.title %></strong>
      <p class="text-muted"><%= user_quest.quest.category.name %> - <%= user_quest.quest.xp %> XP</p>
      <% if user_quest.completed %>
        <span class="badge bg-success">Complétée</span>
      <% else %>
        <span class="badge bg-warning">En cours</span>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Voir toutes les quêtes", quests_path, class: "btn btn-primary" %>
<%= link_to "Boutique", new_purchase_path, class: "btn btn-warning" %>
