<h1><%= t('user.inventory.page_title', pseudo: current_user.pseudo) %></h1>

<h2><%= t('user.inventory.titles_heading') %></h2>
<ul>
  <% current_user.user_items.joins(:shop_item).where(shop_items: { category: "title" }).each do |user_item| %>
    <li>
      <strong><%= user_item.shop_item.name %></strong> - <%= user_item.shop_item.rarity.capitalize %>
      <% if user_item.active %>
        <span class="badge bg-success"><%= t('user.inventory.active_badge') %></span>
      <% else %>
        <%= form_with url: user_item_path(user_item), method: :patch do %>
          <%= hidden_field_tag :activate, true %>
          <%= submit_tag t('user.inventory.activate_button'), class: "btn btn-primary btn-sm" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<h2><%= t('user.inventory.titles_inventory_heading') %></h2>
<ul class="list-group">
  <% current_user.user_items.includes(:shop_item).each do |user_item| %>
    <% if user_item.shop_item.category == "title" %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong><%= user_item.shop_item.name %></strong>
        <div>
          <% if current_user.active_title == user_item.shop_item %>
            <form action="<%= deactivate_title_path %>" method="post" class="d-inline">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <%= submit_tag t('user.inventory.deactivate_button'), class: "btn btn-warning btn-sm" %>
            </form>
          <% else %>
            <form action="<%= activate_title_path %>" method="post" class="d-inline">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <%= hidden_field_tag :title_id, user_item.shop_item.id %>
              <%= submit_tag t('user.inventory.activate_button'), class: "btn btn-success btn-sm" %>
            </form>
          <% end %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>


<%= link_to t('common.back'), root_path, class: "btn btn-secondary" %>
