<!DOCTYPE html>
<html>
<head>
  <title><%= page_meta_title %></title>
  <meta name="description" content="<%= page_meta_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag "logo-leveling.svg", type: "image/svg+xml" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.js"></script>

  <%= javascript_importmap_tags %>
</head>
<body>
  <div class="app-shell">
  <nav class="navbar navbar-expand-lg navbar-dark topbar-leveling">
    <div class="container py-1">
      <a class="navbar-brand d-inline-flex align-items-center" href="<%= root_path %>">
        <%= image_tag "logo-leveling.svg", width: 18, height: 18, alt: "Logo Leveling", class: "me-2" %>
        <span>Leveling</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav gap-1">
          <li class="nav-item">
            <%= link_to "Accueil", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Quêtes", quests_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Boutique", new_purchase_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Classement", leaderboard_index_path, class: "nav-link" if user_signed_in? %>
          </li>
          <li class="nav-item">
            <%= link_to "Amis", friends_path, class: "nav-link" if user_signed_in? %>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto gap-1 align-items-lg-center">
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <li class="nav-item">
                <%= link_to "Admin", admin_quests_path, class: "nav-link" %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "Profil", user_profile_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= form_with url: destroy_user_session_path, method: :delete, local: true do %>
                <%= submit_tag "Déconnexion", class: "btn btn-link nav-link p-0" %>
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container mt-4 page-content">
    <%= render 'layouts/flash' %>
    <%= yield %>
  </main>
  </div>
</body>
</html>
